<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'Academic.State.States'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary"
       matTooltip="{{'Academic.State.AddState'|translate}}" matTooltipPosition="before" *ngIf="isAllowed('Add')"
       routerLink="/academic/state/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
</div>
<div class="rct-block">
    <div class="rct-full-block">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>{{'Common.Name'|translate}}</th>
                        <th>{{'Academic.State.CountryName'|translate}}</th>
                        <th>{{'StudentManagement.LookUp.Code'|translate}}</th>
                        <th>{{'StudentManagement.LookUp.Description'|translate}}</th>
                        <th>{{'StudentManagement.LookUp.Status'|translate}}</th>
                        <th>{{'Common.CreatedOn'|translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of states">
                        <td>{{state.name}}</td>
                        <td>{{state.country.name}}</td>
                        <td>{{state.code}}</td>
                        <td>{{state.description}}</td>
                        <td>{{state.status? 'Yes': 'No'}}</td>
                        <td>{{state.createdOn|date}}</td>
                        <td><a routerLink="/academic/state/{{state.id}}" matTooltip="{{'Academic.State.EditState'|translate}}" *ngIf="isAllowed('Edit')"
                               matTooltipPosition="above" routerLinkActive="active"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a></td>
                    </tr>

                </tbody>
            </table>
            <div class="rct-block-title text-center" *ngIf="states.length==0">
                {{'Academic.State.NoStatesAdded'|translate}}
            </div>
        </div>
    </div>
</div>

