<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'TransportManagement.Route.Routes'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" *ngIf="isAllowed('Add')"
       matTooltip="{{'TransportManagement.Route.AddRoute'|translate}}" matTooltipPosition="before" 
       routerLink="/transportmanagement/route/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
</div>
<div class="rct-block">
    <div class="rct-full-block">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>{{'TransportManagement.Route.Code'|translate}}</th>
                        <th>{{'TransportManagement.Route.Name'|translate}}</th>
                        <th>{{'TransportManagement.Route.StartDate'|translate}}</th>
                        <th>{{'Common.CreatedOn'|translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of routes">
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.startDate|date}}</td>
                        <td>{{item.createdOn|date}}</td>
                        <td><a matTooltip="Edit" matTooltipPosition="above"  *ngIf="isAllowed('Edit')"
                               routerLink="/transportmanagement/route/{{item.id}}" routerLinkActive="active">
                            <i class="zmdi zmdi-edit zmdi-hc-lg"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="rct-block-title text-center" *ngIf="routes.length==0">
                {{'TransportManagement.Route.NoRouteAdded'|translate}}
            </div>
        </div>
    </div>
</div>