*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transition: opacity 100ms ease 0s; }

*::-webkit-scrollbar-track {
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2); }
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  *::-webkit-scrollbar-thumb:vertical {
    min-height: 50px; }
  *::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px; }

/* Material*/
.mat-tab-body-content {
  padding-top: 1rem; }

.mat-form-field {
  width: 100%;
  padding-bottom: .75rem; }

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12); }

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.34375em) scale(0.75); }

.mat-focused .mat-form-field-required-marker {
  color: #f44336; }

.cdk-overlay-container {
  z-index: 1040; }

.mat-snack-bar-container {
  background: #464d69; }

/*General-bootstrap*/
.app-loder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgba(0, 0, 0, 0.96);
  overflow: hidden; }

.page-loder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgba(255, 255, 255, 0.64);
  overflow: hidden; }

.loader {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 84px;
  height: 84px;
  margin: -60px 0 0 -60px;
  border: 4px solid transparent;
  border-color: #5D92F4 #5D92F4 transparent transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; }
  .loader::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    border: 4px solid transparent;
    border-color: #5D92F4 #5D92F4 transparent transparent;
    border-radius: 50%;
    animation: spin .5s linear infinite;
    animation-direction: reverse; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  .main-container .rct-sidebar-expand-overlay {
    display: none; }
  @media (max-width: 767px) {
    .main-container.sidebar-expanded .rct-sidebar-expand-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.36);
      animation: .25s opacity; } }

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 200ms ease 0s; }
  @media (min-width: 768px) {
    .sidebar-expanded .main-page-container {
      margin-left: 16.25rem; } }

.app-header {
  display: block;
  flex-shrink: 1; }

.navbar-brand img {
  max-height: 40px; }

.rct-page-content {
  flex: 1;
  overflow: auto; }

.rct-mainMenu .menu-icon {
  color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 16px; }

.btn-nav-icon {
  color: rgba(0, 0, 0, 0.54);
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 12px;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  flex: 0 0 auto;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%; }
  .btn-nav-icon:hover {
    background-color: rgba(0, 0, 0, 0.08); }

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.3em !important; }
