<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'Sidenav.Children.Dashboard'|translate}}</h2>
    </div>
</div>

<!-- Counts -->
<div class="row">
    <div class="col-12 col-lg-3">
        <div class="rct-block rct-visual-block blue-madison text-white">
            <div class="rct-block-content">
                <div class="display-4">{{totalStaffCount}}</div>
                <h2>{{'StudentManagement.Dashboard.TotalStaffs'|translate}}</h2>
                <i class="zmdi zmdi-accounts"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="rct-block rct-visual-block green-haze text-white">
            <div class="rct-block-content">
                <div class="display-4">{{activeStaffCount}}</div>
                <h2>{{'StudentManagement.Dashboard.ActiveStaffs'|translate}}</h2>
                <i class="zmdi zmdi-account"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="rct-block rct-visual-block purple-plum text-white">
            <div class="rct-block-content">
                <div class="display-4">{{inActiveStaffCount}}</div>
                <h2>{{'StudentManagement.Dashboard.InactiveStaffs'|translate}}</h2>
                <i class="zmdi zmdi-account"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="rct-block rct-visual-block red-intense text-white">
            <div class="rct-block-content">
                <div class="display-4">{{releasedStaffCount}}</div>
                <h2>{{'StudentManagement.Dashboard.ReleasedStaffs'|translate}}</h2>
                <i class="zmdi zmdi-account"></i>
            </div>
        </div>
    </div>
</div>

<!-- Charts -->
<div class="row">
    <!-- Religion Wise Staff -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.ReligionWiseStaffs'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [data]="religionPieChartData" [labels]="religionPieChartLabels" [options]="pieChartOptions" [chartType]="pieChartType" [colors]="religionPieChartColor"></canvas>
            </div>
        </div>
    </div>

    <!-- Class Wise Staff -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.ClassWiseStaffs'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [datasets]="classBarChartData" [options]="barChartOptions" [labels]="classBarChartLabels" [legend]="barChartLegend"
                        [colors]="classBarChartColor" [chartType]="barChartType"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Active/Inactive Staff -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.ActiveInactiveStaffs'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [datasets]="activeInactiveBarChartData" [options]="barChartOptions" [labels]="activeInactiveBarChartLabels" [legend]="barChartLegend"
                        [colors]="activeInactiveBarChartColor" [chartType]="barChartType"></canvas>
            </div>
        </div>
    </div>

    <!-- Gender wise -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.GenderWiseStaffs'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [data]="genderWiseDonutChartData" [labels]="genderWiseDonutChartLabels" [options]="donutChartOptions"
                        [chartType]="donutChartType" [colors]="genderWiseDonutChartColor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Teaching type wise -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.TeachingTypeWise'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [data]="teachingTypeWiseDonutChartData" [labels]="teachingTypeWiseDonutChartLabels" [options]="donutChartOptions"
                        [chartType]="donutChartType" [colors]="teachingTypeWiseDonutChartColor"></canvas>
            </div>
        </div>
    </div>

    <!-- Nationality Wise Staff -->
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-title">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.NationalityWiseStaffs'|translate}}</h2>
            </div>
            <div class="rct-block-content">
                <canvas baseChart [data]="nationalityPieChartData" [labels]="nationalityPieChartLabels" [options]="pieChartOptions" [chartType]="pieChartType" [colors]="nationalityPieChartColor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="rct-block">
            <div class="rct-block-title d-flex justify-content-between">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.Homework'|translate}}</h2>
                <a class="btn-icon-rounded btn-outline-primary"
                   matTooltip="Home work" matTooltipPosition="before"
                   routerLink="/staff/activities/homework" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
            </div>
            <div class="rct-block-content">
                <ul class="list-unstyled">
                    <li *ngFor="let homework of homeworksList">
                        <div class="media">
                            <div class="media-body pt-5">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-5 text-primary">{{homework.homework}}</h5>
                                    <span class="text-muted fs-12">{{homework.homeworkDate|date}}</span>
                                </div>
                                <span class="text-muted fs-12 d-block">{{homework.staff}}</span>
                            </div>
                        </div>
                        <hr class="my-1" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="rct-block">
            <div class="rct-block-title d-flex justify-content-between">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.Notice'|translate}}</h2>
                <a class="btn-icon-rounded btn-outline-primary"
                   matTooltip="{{'Staff.CircularNotice.AddNotice'|translate}}" matTooltipPosition="before" *ngIf="isAllowed('Add')"
                   routerLink="/staff/activities/notice/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
            </div>
            <div class="rct-block-content">
                <ul class="list-unstyled">
                    <li *ngFor="let notice of noticeList">
                        <div class="media">
                            <div class="media-body pt-5">
                                <div class="d-flex justify-content-between">
                                    <a routerLink="/staff/activities/notice/{{notice.id}}"><h5 class="mb-5 text-primary">{{notice.message}}</h5></a>
                                    <span class="text-muted fs-12">{{notice.noticeDate|date}}</span>
                                </div>
                                <span class="text-muted fs-12 d-block">{{notice.description}}</span>
                            </div>
                        </div>
                        <hr class="my-1" />
                    </li>
                </ul>
                <div class="rct-block-title text-center" *ngIf="noticeList.length==0">
                    {{'Staff.CircularNotice.NoNoticeAdded'|translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="rct-block">
            <div class="rct-block-title d-flex justify-content-between">
                <h2 class="mb-0">{{'StudentManagement.Dashboard.Circular'|translate}}</h2>
                <a class="btn-icon-rounded btn-outline-primary"
                   matTooltip="{{'Staff.CircularNotice.AddNotice'|translate}}" matTooltipPosition="before" *ngIf="isAllowed('Add')"
                   routerLink="/staff/activities/notice/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
            </div>
            <div class="rct-block-content">
                <ul class="list-unstyled">
                    <li *ngFor="let circular of circularList">
                        <div class="media">
                            <div class="media-body pt-5">
                                <div class="d-flex justify-content-between">
                                    <a routerLink="/staff/activities/notice/{{circular.id}}"><h5 class="mb-5 text-primary">{{circular.message}}</h5></a>
                                    <span class="text-muted fs-12">{{circular.noticeDate|date}}</span>
                                </div>
                                <span class="text-muted fs-12 d-block">{{circular.description}}</span>
                            </div>
                        </div>
                        <hr class="my-1" />
                    </li>
                </ul>
                <div class="rct-block-title text-center" *ngIf="circularList.length==0">
                    {{'Staff.CircularNotice.NoNoticeAdded'|translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar view -->
<div class="rct-block">
    <div class="rct-block-title d-flex justify-content-between">
        <h2 class="mb-0">{{'StudentManagement.Dashboard.CalendarView'|translate}}</h2>
        <a class="btn-icon-rounded btn-outline-primary"
           matTooltip="{{'UserManagement.User.AddUser'|translate}}" matTooltipPosition="before"
           routerLink="/staff/activities/activity/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
    </div>
    <div class="rct-block-title d-flex justify-content-between">
        <div class="btn-group" role="group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                {{'StudentManagement.Dashboard.Previous'|translate}}
            </div>
            <div class="btn btn-primary active" mwlCalendarToday [(viewDate)]="viewDate">
                {{'StudentManagement.Dashboard.Today'|translate}}
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                {{'StudentManagement.Dashboard.Next'|translate}}
            </div>
        </div>
        <div class="btn-group ml-3" role="group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                {{'StudentManagement.Dashboard.Month'|translate}}
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                {{'StudentManagement.Dashboard.Week'|translate}}
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                {{'StudentManagement.Dashboard.Day'|translate}}
            </div>
        </div>
    </div>
    <div class="rct-block-content">
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="calendarEvents"
                                     [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                                     (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="calendarEvents"
                                    (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="calendarEvents"
                                   (eventClicked)="handleEvent('Clicked', $event.event)">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>