<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'StudentLeaveManagement.LeaveManagement.Leaves'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" *ngIf="isAllowed('Add')" matTooltip="{{'StudentLeaveManagement.LeaveManagement.ApplyLeave'|translate}}" matTooltipPosition="above"
       routerLink="/student/leavemanagement/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
</div>
<div class="rct-block mb-3">
    <div class="rct-block-content">
        <mat-form-field class="form-group col-12 col-lg-6">
            <mat-select placeholder="{{'StudentLeaveManagement.LeaveManagement.SelectClass'|translate}}" [(ngModel)]="classId"
                        #ClassId="ngModel" [ngModelOptions]="{standalone: true}" (selectionChange)="resetLeave()" required>
                <mat-option *ngFor="let class of initialData.classes" [value]="class.id">
                    {{class.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-group col-12 col-lg-6">
            <mat-select placeholder="{{'StudentLeaveManagement.LeaveManagement.SelectType'|translate}}" [(ngModel)]="leaveTypeId"
                        #LeaveTypeId="ngModel" [ngModelOptions]="{standalone: true}" (selectionChange)="resetLeave()" required>
                <mat-option *ngFor="let leaveType of initialData.leaveTypes" [value]="leaveType.id">
                    {{leaveType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="btn-icon-rounded btn-primary" matTooltip="{{'StudentLeaveManagement.LeaveManagement.SearchLeave'|translate}}" matTooltipPosition="above" (click)="getLeave()"
                [disabled]="!(ClassId.valid && LeaveTypeId.valid)">
            <i class="zmdi zmdi-search"></i>
        </button>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="{{'StudentLeaveManagement.LeaveManagement.LeaveList'|translate}}">
        <div class="rct-block">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>{{'StudentLeaveManagement.LeaveManagement.LeaveType'|translate}}</th>
                            <th>{{'StudentLeaveManagement.LeaveManagement.NoOfDays'|translate}}</th>
                            <th>{{'StudentLeaveManagement.LeaveManagement.Status'|translate}}</th>
                            <th>{{'StudentLeaveManagement.LeaveManagement.FromDate'|translate}}</th>
                            <th>{{'StudentLeaveManagement.LeaveManagement.EndDate'|translate}}</th>
                            <th>{{'StudentLeaveManagement.LeaveManagement.ApprovedBy'|translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leave of leaves">
                            <td>{{leave.leaveType.name}}</td>
                            <td>{{numberOfDays(leave.fromDate, leave.endDate)}}</td>
                            <td>{{leave.leaveStatus.name}}</td>
                            <td>{{leave.fromDate|date}}</td>
                            <td>{{leave.endDate|date}}</td>
                            <td>{{leave.approvedBy.employeeId}} - {{leave.approvedBy.firstName}} {{leave.approvedBy.lastName}}</td>
                            <td>
                                <a matTooltip="Edit" matTooltipPosition="above" [hidden]="!isAllowedToEdit(leave.id)"
                                   routerLink="/student/leavemanagement/{{leave.id}}" *ngIf="isAllowed('Edit')"
                                   routerLinkActive="active"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="rct-block-title text-center" *ngIf="leaves.length==0">
                    {{'StudentLeaveManagement.LeaveManagement.NoLeaveAdded'|translate}}
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'StudentLeaveManagement.LeaveManagement.PendingLeaves'|translate}}">
        <div class="shop-grid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let leave of pendings">
                    <div class="rct-block overflow-hidden">
                        <div class="rct-block-content">
                            <div class="product-image mb-20 embed-responsive embed-responsive-1by1">
                                <img [src]="((leave.student.personalImage)?leave.student.personalImage:'/assets/img/default_user.png')" alt="product" class="embed-responsive-item rounded-circle" />
                            </div>
                            <div class="rpoduct-detail row">
                                <h4 class="col-12 mb-15">{{leave.student.firstName}} {{leave.student.lastName}}</h4>
                                <div class="col-6 p-2 text-grey">
                                    <i class="mr-3 zmdi zmdi-assignment-account zmdi-hc-lg"></i>
                                    <span>{{leave.student.rollNumber}}</span>
                                </div>
                                <div class="col-6 p-2 text-grey">
                                    <i class="mr-3 zmdi zmdi-mood zmdi-hc-lg"></i>
                                    <span>{{leave.leaveType.name}}</span>
                                </div>
                                <div class="col-12 p-2 text-grey">
                                    <i class="mr-3 zmdi zmdi-calendar-alt zmdi-hc-lg"></i>
                                    <span>{{leave.fromDate|date}}</span>
                                    <i class="mx-2 zmdi zmdi-trending-flat zmdi-hc-lg"></i>
                                    <span>{{leave.endDate|date}}</span>
                                </div>
                                <div class="col-6 p-2 text-grey">
                                    <i class="mr-3 zmdi zmdi-sun zmdi-hc-lg"></i>
                                    <span>{{numberOfDays(leave.fromDate, leave.endDate)}}</span>
                                </div>
                                <div class="col-6 p-2 text-grey">
                                    <i class="mr-3 zmdi zmdi-alert-polygon zmdi-hc-lg"></i>
                                    <span>{{leave.leaveStatus.name}}</span>
                                </div>
                            </div>
                            <div class="rct-block-footer-drawer">
                                <button class="btn-icon-rounded btn-primary" *ngIf="isAllowed('Edit')"
                                        matTooltip="{{'StudentLeaveManagement.LeaveManagement.Approve'|translate}}"
                                        matTooltipPosition="above" (click)="approveAndRejectLeave(leave.id, 'Approve')">
                                    <i class="zmdi zmdi-badge-check"></i>
                                </button>
                                <button class="ml-2 btn-icon-rounded btn-secondary" *ngIf="isAllowed('Edit')"
                                        matTooltip="{{'StudentLeaveManagement.LeaveManagement.Reject'|translate}}"
                                        matTooltipPosition="above" (click)="approveAndRejectLeave(leave.id, 'Rejected')">
                                    <i class="zmdi zmdi-block"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rct-block-title text-center" *ngIf="pendings.length==0">
            {{'StudentLeaveManagement.LeaveManagement.NoLeaveAdded'|translate}}
        </div>
    </mat-tab>
</mat-tab-group>
