@model IMS.DomainModel.ApplicationClasses.UserManagement.UserAc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rct-session-wrapper">
    <header class="session-header">
        <div class="container">
            <div class="session-logo">
                <a href="/">
                    <img src="~/assets/img/logo-white.png" alt="session-logo" class="img-fluid" width="110" height="35" />
                </a>
            </div>
        </div>
    </header>
    <div class="session-inner-wrapper">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-7 col-md-7 col-lg-8 mx-auto">
                    <div class="session-body text-center">
                        <div class="session-head mb-30">
                            <h2 class="font-weight-bold">Forgot Password</h2>
                        </div>
                        @if (!Model.IsForgotPasswordMailSent)
                        {
                            <div>
                                @using (Html.BeginForm())
                                {
                                    <div class="has-wrapper form-group text-left">
                                        @Html.TextBoxFor(u => u.Email, htmlAttributes: new { @class = "has-input input-lg form-control", required = "required", placeholder = "Enter Email Address", autofocus = "autofocus" })
                                        <span class="has-icon"><i class="ti-email"></i></span>
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>
                                    <div class="mb-15 form-group">
                                        <button class="btn btn-primary btn-lg btn-block text-white w-100" tabindex="0" type="submit">
                                            Send Email
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.IsForgotPasswordMailSent)
                        {
                            <div class="page-title-wrap">
                                <h2>Please check your email.</h2>
                                <h2>Reset Password link has been sent to your email account.</h2>
                            </div>
                        }

                        <p class="mb-0 d-flex align-items-center justify-content-between">
                            <a href="/Home/LogIn" class="text-muted">Sign In</a>
                            <a target="_blank" href="#/terms-condition" class="text-muted">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>