<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'StudentManagement.DisciplinaryStatus.DisciplinaryStatuses'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" *ngIf="isAllowed('Add')"
       matTooltip="{{'StudentManagement.DisciplinaryStatus.AddDisciplinaryStatus'|translate}}" matTooltipPosition="before"
       routerLink="/student/lookup/disciplinarystatus/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
</div>
<div class="rct-block">
    <div class="rct-full-block">
        <div class="table-responsive">
            <look-up-shared-list [list]="DisciplinaryStatuss"></look-up-shared-list>
            <div class="rct-block-title text-center" *ngIf="DisciplinaryStatuss.length==0">
                No Disciplinary Status Added
            </div>
        </div>
    </div>
</div>

