<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'MarkManagement.ExamDefinition.AddExamDefinitions'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" matTooltip="Details" matTooltipPosition="above" routerLink="/student/mark/examdefinition/list" routerLinkActive="active"><i class="zmdi zmdi-view-list"></i></a>
</div>
<div class="rct-block">
    <div class="rct-block-content">
        <form class="row">
            <mat-form-field class="col-12 col-lg-6">
                <input type="text" matInput placeholder="{{'StudentManagement.LookUp.Name'|translate}}" required NoSpaces
                       [(ngModel)]="baseModel.Name" #NameModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20"
                       (keydown)="resetError('Name')" />
                <mat-error *ngIf="NameModel.invalid && NameModel.touched">
                    <span *ngIf="NameModel.hasError('required')">{{'Common.Required'|translate}}</span>
                    <span *ngIf="(!NameModel.hasError('required') && NameModel.hasError('whitespace'))">{{'Common.WhiteSpace'|translate}}</span>
                </mat-error>
                <mat-hint class="mat-error" *ngIf="hasError('Name')">
                    <span>{{error.Message}}</span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-12 col-lg-6">
                <input type="text" matInput placeholder="{{'StudentManagement.LookUp.Code'|translate}}" required NoSpaces
                       [(ngModel)]="baseModel.Code" #CodeModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20"
                       (keydown)="resetError('Code')" />
                <mat-error *ngIf="CodeModel.invalid && CodeModel.touched">
                    <span *ngIf="CodeModel.hasError('required')">{{'Common.Required'|translate}}</span>
                    <span *ngIf="(!CodeModel.hasError('required') && CodeModel.hasError('whitespace'))">{{'Common.WhiteSpace'|translate}}</span>
                </mat-error>
                <mat-hint class="mat-error" *ngIf="hasError('Code')">
                    <span>{{error.Message}}</span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-12 col-lg-6">
                <textarea type="text" matInput placeholder="{{'StudentManagement.LookUp.Description'|translate}}" maxlength="50"
                          [(ngModel)]="baseModel.Description" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
            <div class="form-group">
                <mat-slide-toggle [(ngModel)]="baseModel.Status" [ngModelOptions]="{standalone: true}">
                    {{'MarkManagement.ExamDefinition.IsAvailable'|translate}}
                </mat-slide-toggle>
            </div>
            <div class="col-12">
                <button class="btn-icon-rounded btn-primary" matTooltip="Save" matTooltipPosition="above" (click)="addInstituteExamDefinition()" [disabled]="!(NameModel.valid
                        && CodeModel.valid)">
                    <i class="zmdi zmdi-floppy"></i>
                </button>
                <a class="ml-2 btn-icon-rounded btn-outline-secondary" matTooltip="Cancel" matTooltipPosition="above" routerLink="/student/mark/examdefinition/list" routerLinkActive="active"><i class="zmdi zmdi-close"></i></a>
            </div>
        </form>
    </div>
</div>
