<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'Hostel.Mess.Add'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" matTooltip="Details" matTooltipPosition="above" routerLink="/hostel/messmanagement/expensetype/add" routerLinkActive="active"><i class="zmdi zmdi-view-list"></i></a>
  </div>
  <div class="rct-block">
    <div class="rct-block-content">
      <mat-form-field class="col-12 col-lg-6">
          <input type="text" matInput placeholder="{{'Hostel.Mess.Code'|translate}}" required NoSpaces
                  [(ngModel)]="addExpense.code" #CodeModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20" />
      </mat-form-field>
      <mat-form-field class="col-12 col-lg-6">
          <input type="text" matInput placeholder="{{'Hostel.Mess.Name'|translate}}" required NoSpaces
                  [(ngModel)]="addExpense.name" #NameModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20" />
      </mat-form-field>
      
    <mat-form-field class="col-12 col-lg-6">
        <mat-select placeholder="{{'Hostel.Mess.Type'|translate}}" [(ngModel)]="addExpense.type"
                    #hostel="ngModel" [ngModelOptions]="{standalone: true}" required>
            <mat-option *ngFor="let type of typeList" [value]="type.id">
                {{type.label}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 col-lg-6">
          <input type="text" matInput placeholder="{{'Hostel.Mess.Description'|translate}}" required NoSpaces
                  [(ngModel)]="addExpense.description" #NameModel="ngModel" [ngModelOptions]="{standalone: true}" />
      </mat-form-field>
      <div class="col-12 col-lg-6 inline-block">
        <mat-slide-toggle [(ngModel)]="addExpense.active" [ngModelOptions]="{standalone: true}">
            {{'Hostel.Mess.Active'|translate}} / {{'Hostel.Mess.Inactive'|translate}}
        </mat-slide-toggle>
      </div>
  
      <div class="col-12">
        <button class="btn-icon-rounded btn-primary" matTooltip="{{'Hostel.Mess.Save'|translate}}" matTooltipPosition="above" (click)="add()">
            <i class="zmdi zmdi-floppy"></i>
        </button>
        <a class="ml-2 btn-icon-rounded btn-outline-secondary" matTooltip="{{'Hostel.Mess.Cancel'|translate}}" matTooltipPosition="above" routerLink="/hostel/messmanagement/expensetype" routerLinkActive="active"><i class="zmdi zmdi-close"></i></a>
      </div>
    </div>
  </div>
    