<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'StudentManagement.Nationality.Nationalities'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" *ngIf="isAllowed('Add')"
       matTooltip="{{'StudentManagement.Nationality.AddNationality'|translate}}" matTooltipPosition="before"
       routerLink="/student/lookup/nationality/add" routerLinkActive="active"><i class="zmdi zmdi-plus"></i></a>
</div>
<div class="rct-block">
    <div class="rct-full-block">
        <div class="table-responsive">
            <look-up-shared-list [list]="nationalities"></look-up-shared-list>
            <div class="rct-block-title text-center" *ngIf="nationalities.length==0">
                No Nationalities Added
            </div>
        </div>
    </div>
</div>

