<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'TransportManagement.Accident.AddAccident'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" matTooltip="Details" matTooltipPosition="above" routerLink="/transportmanagement/vehiclemaintenance/accident/list" routerLinkActive="active"><i class="zmdi zmdi-view-list"></i></a>
</div>
<div class="rct-block">
    <div class="rct-block-content">
        <mat-form-field class="col-12 col-lg-6">
            <input type="text" matInput placeholder="{{'TransportManagement.Accident.Code'|translate}}" required NoSpaces
                   [(ngModel)]="addAccident.Code" #CodeModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20"
                   (keydown)="resetError('Code')" />
            <mat-error *ngIf="CodeModel.invalid && CodeModel.touched">
                <span *ngIf="CodeModel.hasError('required')">{{'Common.Required'|translate}}</span>
                <span *ngIf="(!CodeModel.hasError('required') && CodeModel.hasError('whitespace'))">{{'Common.WhiteSpace'|translate}}</span>
            </mat-error>
            <mat-hint class="mat-error" *ngIf="hasError('Code')">
                <span>{{error.Message}}</span>
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-6">
            <input matInput [matDatepicker]="accidentDate" placeholder="{{'TransportManagement.Accident.AccidentDate'|translate}} *"
                   [max]="currentDate" (dateChange)="addAccident.AccidentDate = $event.value" disabled>
            <mat-datepicker-toggle matSuffix [for]="accidentDate"></mat-datepicker-toggle>
            <mat-datepicker #accidentDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-6">
            <mat-select placeholder="{{'TransportManagement.Accident.SelectVehicle'|translate}}" [(ngModel)]="addAccident.VehicleId"
                        #VehicleId="ngModel" [ngModelOptions]="{standalone: true}" (selectionChange)="resetDriver()" required>
                <mat-option *ngFor="let vehicle of initialData.vehicles" [value]="vehicle.id">
                    {{vehicle.vehicleCode}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-6">
            <mat-select placeholder="{{'TransportManagement.Accident.SelectDriver'|translate}}" [(ngModel)]="addAccident.DriverId"
                        #DriverId="ngModel" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let driver of initialData.drivers" [disabled]="!isDriverAllowed(driver.id)" [value]="driver.id">
                    {{driver.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-6">
            <input type="number" matInput placeholder="{{'TransportManagement.Accident.EstimateCost'|translate}}" required pattern="\d+"
                   [(ngModel)]="addAccident.EstimateCost" #EstimateCostModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20" />
            <mat-error *ngIf="EstimateCostModel.invalid && EstimateCostModel.touched">
                <span *ngIf="EstimateCostModel.hasError('required')">{{'Common.Required'|translate}}</span>
                <span *ngIf="EstimateCostModel.hasError('pattern')">{{'TransportManagement.Accident.EstimateCostError'|translate}}</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 col-lg-6">
            <textarea type="text" matInput placeholder="{{'TransportManagement.Accident.Address'|translate}}" maxlength="50"
                      [(ngModel)]="addAccident.Address" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>

        <div class="col-12">
            <button class="btn-icon-rounded btn-primary" matTooltip="Save" matTooltipPosition="above" (click)="addAccidentData()"
                    [disabled]="!(CodeModel.valid && VehicleId.valid && EstimateCostModel.valid && DriverId.valid
                    && (addAccident.AccidentDate !== null && addAccident.AccidentDate !== undefined))">
                <i class="zmdi zmdi-floppy"></i>
            </button>
            <a class="ml-2 btn-icon-rounded btn-outline-secondary" matTooltip="Cancel" matTooltipPosition="above" routerLink="/transportmanagement/vehiclemaintenance/accident/list" routerLinkActive="active"><i class="zmdi zmdi-close"></i></a>
        </div>
    </div>
</div>
