<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'Student.Notification.Notification'|translate}}</h2>
    </div>
    <a class="btn-icon-rounded btn-outline-primary" matTooltip="Details" matTooltipPosition="above" routerLink="/student/information/list" routerLinkActive="active"><i class="zmdi zmdi-view-list"></i></a>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-content">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'Common.Name'|translate}}" required
                           [(ngModel)]="studentNotificationDetails.name" #nameModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="20" disabled />
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="{{'Student.Notification.SelectNotificationType'|translate}}" [(ngModel)]="studentNotificationDetails.notificationType"
                                #notificationTypeModel="ngModel" [ngModelOptions]="{standalone: true}" required (selectionChange)="resetModel()">
                        <mat-option *ngFor="let notificationType of notificationTypes" [value]="notificationType.enumKey">
                            {{notificationType.enumValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="notificationTypeModel.invalid && notificationTypeModel.touched">
                        <span *ngIf="notificationTypeModel.hasError('required')">{{'Common.Required'|translate}}</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [hidden]="studentNotificationDetails.notificationType!==0">
                    <input matInput type="text" placeholder="{{'Student.Notification.Email'|translate}}" required [(ngModel)]="studentNotificationDetails.email"
                           #emailModel="ngModel" [ngModelOptions]="{standalone: true}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

                    <mat-error *ngIf="emailModel.invalid && emailModel.touched">
                        <span *ngIf="emailModel.hasError('required')">{{'Common.Required'|translate}}</span>
                        <span *ngIf="emailModel.hasError('pattern')">{{'UserManagement.User.Emailformatshouldbe'|translate}}<strong>joe@abc.com</strong></span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [hidden]="studentNotificationDetails.notificationType!==1">
                    <input type="text" matInput placeholder="{{'Student.Information.MobileNumber'|translate}}" [(ngModel)]="studentNotificationDetails.phoneNumber" required
                           #phoneNumberModel="ngModel" [ngModelOptions]="{standalone: true}" pattern="[0-9]*" minlength="10" maxlength="10" />

                    <mat-error *ngIf="phoneNumberModel.invalid && phoneNumberModel.touched">
                        <span *ngIf="phoneNumberModel.hasError('required')">{{'Common.Required'|translate}}</span>
                        <span [hidden]="!phoneNumberModel.hasError('pattern')">Mobile number should be only numbers</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [hidden]="studentNotificationDetails.notificationType === null || studentNotificationDetails.notificationType === undefined">
                    <input type="text" matInput placeholder="{{'Sidenav.Children.Subject'|translate}}" [(ngModel)]="studentNotificationDetails.subject" required
                           #subjectModel="ngModel" [ngModelOptions]="{standalone: true}" maxlength="25" (keydown)="resetError()" />

                    <mat-error *ngIf="subjectModel.invalid && subjectModel.touched">
                        <span *ngIf="subjectModel.hasError('required')">{{'Common.Required'|translate}}</span>
                    </mat-error>
                    <mat-hint class="mat-error" *ngIf="subjectErrorMessage !== ''">
                        <span>{{subjectErrorMessage}}</span>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field [hidden]="studentNotificationDetails.notificationType === null || studentNotificationDetails.notificationType === undefined">
                    <textarea matInput placeholder="{{'Student.Notification.Message'|translate}}" [(ngModel)]="studentNotificationDetails.message"
                              #messageModel="ngModel" [ngModelOptions]="{standalone: true}" (keydown)="resetError()"></textarea>

                    <mat-hint class="mat-error" *ngIf="errorMessage !== ''">
                        <span>{{errorMessage}}</span>
                    </mat-hint>
                </mat-form-field>

                <button class="ml-2 btn-icon-rounded btn-outline-secondary" matTooltip="Send" matTooltipPosition="above" (click)="sendNotification()"
                        [disabled]="!(notificationTypeModel.valid && subjectModel.valid
                        && ((emailModel.valid && studentNotificationDetails.notificationType===0) || (phoneNumberModel.valid && studentNotificationDetails.notificationType===1)))">
                    <i class="zmdi zmdi-mail-send"></i>
                </button>
            </div>
        </div>
    </div>
</div>