<div class="page-title d-flex justify-content-between align-items-center">
  <div class="page-title-wrap">
      <h2 class="mb-0">{{'Payroll.Payslip.Title'|translate}}</h2>
  </div>
  <button class="btn-icon-rounded btn-outline-primary" *ngIf="isAllowed('Print')"
     matTooltip="{{'Payroll.Component.Add'|translate}}" matTooltipPosition="before"
     ><i class="zmdi zmdi-plus"></i></button>
</div>
<div class="rct-block">
  <div class="rct-block-content">
    <mat-form-field class="col-12 col-lg-6">
      <mat-select placeholder="{{'Payroll.Payslip.Month'|translate}}" [(ngModel)]="searchPayslip.Month"
                  #month="ngModel" [ngModelOptions]="{standalone: true}" required>
          <mat-option *ngFor="let month of monthList" [value]="month.value">
              {{month.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-12 col-lg-6">
      <mat-select placeholder="{{'Payroll.Payslip.AcademicYear'|translate}}" [(ngModel)]="searchPayslip.AcademicYear"
                  #academicYear="ngModel" [ngModelOptions]="{standalone: true}" required>
          <mat-option *ngFor="let academicYear of academicYearList" [value]="academicYear.id">
              {{academicYear.academicYearCode}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field class="col-12 col-lg-6">
      <mat-select placeholder="{{'Payroll.Payslip.'|translate}}" [(ngModel)]="searchPayslip.Group"
                  #group="ngModel" [ngModelOptions]="{standalone: true}" required>
          <mat-option *ngFor="let group of groupList" [value]="group">
              {{group}}
          </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field class="col-12 col-lg-6">
      <mat-select placeholder="{{'Payroll.Payslip.Staff'|translate}}" [(ngModel)]="searchPayslip.Staff"
                  #staffName="ngModel" [ngModelOptions]="{standalone: true}" required>
          <mat-option *ngFor="let staff of staffList" [value]="staff.id">
              {{staff.employeeId}} - {{staff.firstName}} {{staff.lastName}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="col-12">
      <button class="btn-icon-rounded btn-primary" matTooltip="{{'Payroll.Payslip.Search'|translate}}" matTooltipPosition="above" (click)="search()">
          <i class="zmdi zmdi-search"></i>
      </button>
    </div>
  </div>
</div>
  