@model IMS.DomainModel.ApplicationClasses.StudentManagement.StudentNotificationAc
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>
        Hello @Model.Name,

        <br />

        @{
            @Model.Message
        }

        <br />

        Thanks & Regards
        IMS
    </div>
}
