@model IMS.DomainModel.ApplicationClasses.CircularNoticeManagement.CircularNoticeAc

@{
    <div>
        Hello,

        <br />

        @{
            @Model.Message
        }

        <br />

        Thanks & Regards

        <br/>

        @Model.InstituteName
    </div>
}
