@model IMS.DomainModel.ApplicationClasses.InstituteManagement.WelcomeMailToAdminAc
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<div>
    Hello @Model.Name,

    Welcome back to IMS, You have been added to new Institute - @Model.InstituteName. Please use the same credentials for login purpose.

    Thanks & Regards
    IMS
</div>
}
