<div class="page-title d-flex justify-content-between align-items-center">
    <div class="page-title-wrap">
        <h2 class="mb-0">{{'ChangePassword.ChangePassword'|translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="rct-block">
            <div class="rct-block-content">
                <form novalidate [formGroup]="changePasswordForm" #form="ngForm" name="form">
                    <mat-form-field>
                        <input matInput formControlName="oldPassword"
                               placeholder="{{'ChangePassword.OldPassword'|translate}}" type="password" required [(ngModel)]="changePasswordModel.oldPassword"
                               minlength="6" (keydown)="resetError()" />

                        <mat-error *ngIf="oldPassword.invalid && oldPassword.touched">
                            <span *ngIf="oldPassword.hasError('required')">{{'Common.Required'|translate}}</span>
                            <span *ngIf="oldPassword.hasError('minlength')">{{'ChangePassword.PasswordMinimum'|translate}}</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput formControlName="newPassword" placeholder="{{'ChangePassword.NewPassword'|translate}}" type="password" required [(ngModel)]="changePasswordModel.newPassword" 
                               minlength="6" (keydown)="resetError()" />

                        <mat-error *ngIf="newPassword.invalid && newPassword.touched">
                            <span *ngIf="newPassword.hasError('required')">{{'Common.Required'|translate}}</span>
                            <span *ngIf="newPassword.hasError('minlength')">{{'ChangePassword.PasswordMinimum'|translate}}</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput formControlName="confirmPassword" placeholder="{{'ChangePassword.ConfirmPassword'|translate}}" type="password" required [(ngModel)]="changePasswordModel.confirmPassword" 
                               minlength="6" (keydown)="resetError()" />

                        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
                            <span *ngIf="confirmPassword.hasError('required')">{{'Common.Required'|translate}}</span>
                            <span *ngIf="confirmPassword.hasError('minlength')">{{'ChangePassword.PasswordMinimum'|translate}}</span>
                        </mat-error>

                        <mat-hint class="mat-error" *ngIf="!isPasswordMatch">
                            <span>{{'ChangePassword.PasswordsDoNotMatch'|translate}}</span>
                        </mat-hint>

                        <mat-hint class="mat-error" *ngIf="(errorMessage !== '')">
                            <span>{{errorMessage}}</span>
                        </mat-hint>
                    </mat-form-field>

                    <button class="btn-icon-rounded btn-primary" (click)="changePassword()"
                            matTooltip="Save" matTooltipPosition="above" [disabled]="!(oldPassword.valid && newPassword.valid && confirmPassword.valid)">
                        <i class="zmdi zmdi-floppy"></i>
                    </button>
                    <button class="ml-2 btn-icon-rounded btn-outline-secondary" matTooltip="Cancel" matTooltipPosition="above" (click)="clearForm()">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
